# THIS IS A TEMPLATE FOR THE ENVIRIOMENT SETTINGS
DB_HOST="localhost" # your database host (by default, localhost)
DB_NAME="roblox" # database name (set under anything)
DB_USER="postgres" # postgreSQL username (super user)
DB_PASS="" # postgreSQL password
DB_PORT="5432" # postgreSQL port (default 5432)
JWT_SECRET="" # your JWT secret
CLIENT_APIKEY="" # your apiKey
ROBLOXAPI_KEY="" # your Roblox Cloud API Key
PLAYER_PREFIX="roblox-player" # your Roblox Player Prefixer
STUDIO_PREFIX="roblox-studio" # your Roblox Studio Prefixer
MOBILE_PREFIX="robloxmobile" # your Android/iOS Android prefixer