<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- test push -->
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ItemPageRewrite" stopProcessing="true">
                    <match url="^([a-zA-Z0-9\-]+)-item$" ignoreCase="true" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="^id=\d+$" />
                    </conditions>
                    <action type="Rewrite" url="/item.php" appendQueryString="true" />
                </rule>

                <rule name="UserAdsTypeRewrite" stopProcessing="true">
                    <match url="^userads/([123])$" ignoreCase="true" />
                    <action type="Rewrite" url="/userads/index.php?type={R:1}" />
                </rule>

                <rule name="UserAdsInvalid" stopProcessing="true">
                    <match url="^userads/([0-9]+)$" />
                    <conditions>
                        <add input="{R:1}" pattern="^(?![123]$).*$" />
                    </conditions>
                    <action type="Redirect" url="/RobloxDefaultErrorPage.aspx?code=404" redirectType="Found" />
                </rule>

                <rule name="FetchCSS" stopProcessing="true">
                    <match url="^CSS/Base/CSS/FetchCSS$" />
                    <action type="Rewrite" url="/CSS/Base/CSS/FetchCSS.php" />
                </rule>
                <rule name="resolve hash thumb3d" stopProcessing="true">
                    <match url="^thumbnail/resolve-hash/([^/]+)$" />
                    <action type="Rewrite" url="/thumbnail/resolve-hash/hash.php?md5={R:1}" />
                </rule>
                <rule name="Hide .php ext">
                    <match url="^(.*)" ignoreCase="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                        <add input="{REQUEST_URI}" pattern="^.*\.(html|js|css|jpg|png|gif|bin|txt|json)$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.php" />
                </rule>

                <rule name="Redirecting .php ext" stopProcessing="true">
                    <match url="^(.*).html" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).php" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
