<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true" />

        <rewrite>
            <rules>
                <rule name="UserAdsTypeRewrite" stopProcessing="true">
                    <match url="^userads/([123])$" ignoreCase="true" />
                    <action type="Rewrite" url="/userads/index.php?type={R:1}" />
                </rule>

                <rule name="UserAdsInvalid" stopProcessing="true">
                    <match url="^userads/([0-9]+)$" />
                    <conditions>
                        <add input="{R:1}" pattern="^(?![123]$).*$" />
                    </conditions>
                    <action type="Redirect" url="/RobloxDefaultErrorPage.aspx?code=404" redirectType="Found" />
                </rule>

                <!-- CSS Fetch Rule -->
                <rule name="FetchCSS" stopProcessing="true">
                    <match url="^CSS/Base/CSS/FetchCSS$" />
                    <action type="Rewrite" url="/CSS/Base/CSS/FetchCSS.php" />
                </rule>

                <!-- Hide .php extension -->
                <rule name="Hide .php ext">
                    <match url="^(.*)" ignoreCase="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                        <add input="{REQUEST_URI}" pattern="^.*\.(html|js|css|jpg|png|gif|bin|txt|json)$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.php" />
                </rule>

                <!-- Redirect .php to clean URL (for .html routes) -->
                <rule name="Redirecting .php ext" stopProcessing="true">
                    <match url="^(.*).html" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).php" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors errorMode="Detailed" />

        <!-- Add MIME type for .data files -->
        <staticContent>
            <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
    
    <system.web>
        <customErrors mode="On" defaultRedirect="/RobloxDefaultErrorPage.aspx">
            <error statusCode="404" redirect="/RobloxDefaultErrorPage.aspx?code=404" />
            <error statusCode="500" redirect="/RobloxDefaultErrorPage.aspx?code=500" />
            <error statusCode="403" redirect="/RobloxDefaultErrorPage.aspx?code=403" />
        </customErrors>
    </system.web>
</configuration>
