<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    
        <rewrite>
            <rules>
                <rule name="FolderlessQuietGet" stopProcessing="true">
                    <match url="^Setting/QuietGet/([\w-]+)/$" ignoreCase="true" />
                    <conditions>
                         <add input="{QUERY_STRING}" pattern="apiKey=[A-Fa-f0-9\-]+" />
                    </conditions>
                    <action type="Rewrite" url="/HandleFastFlags.php?path={R:1}" appendQueryString="true" />
                </rule>
                <rule name="FolderQuietGet" stopProcessing="true">
                    <match url="^Setting/QuietGet/([\w-]+)/?$" ignoreCase="true" />
                    <conditions>
                            <add input="{QUERY_STRING}" pattern="apiKey=[A-Fa-f0-9\-]+" />
                    </conditions>
                    <action type="Rewrite" url="/HandleFastFlags.php?path={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
